name: main
on:
  push:
    branches:
      - *
jobs:
  main:
    runs-on: ubuntu-latest
    container:
      image: golang
    steps:
      - uses: actions/checkout@main
      - run: go build
      - uses: golangci/golangci-lint-action@v2
      - run: go test -covermode atomic -coverprofile coverage.txt
      - uses: codecov/codecov-action@v1
