name: security
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  codeql:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v5
      - uses: github/codeql-action/init@v4
      - uses: github/codeql-action/autobuild@v4
      - uses: github/codeql-action/analyze@v4
