name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: go build
      - uses: golangci/golangci-lint-action@v9
      - run: go test -covermode atomic -coverprofile coverage.txt ./...
      - uses: codecov/codecov-action@v5
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/cspell-action@v8
